[Unit]
Description=DATA472 individual project flask app
After=network.target
[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/CyclePaths
ExecStart=/home/ubuntu/CyclePaths/venv/bin/gunicorn -w 4 web_server:app
[Install]
WantedBy=multi-user.target
